<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StdIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StdIO.Properties.Settings>
            <setting name="email_noreply" serializeAs="String">
                <value>noreply@mycorp.com</value>
            </setting>
            <setting name="email_name" serializeAs="String">
                <value>Full Name</value>
            </setting>
            <setting name="email_to" serializeAs="String">
                <value>me@mycorp.com</value>
            </setting>
            <setting name="email_smtp" serializeAs="String">
                <value>dffs1</value>
            </setting>
        </StdIO.Properties.Settings>
    </userSettings>
</configuration>